.App {
  display: flex;
}

.Sidebar {
  width: 200px;
  background-color: #f4f4f4;
  padding: 10px;
  border-right: 1px solid #ccc;
}

.sidebar-element {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
}

.Canvas {
  flex: 1;
  position: relative;
  background-color: #fff;
  border: 1px solid #ccc;

  height: 100vh;
}

.canvas-element {
  position: absolute;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
}

.canvas-element.selected {
  border: 1px solid red;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 5px;

  position: relative;
  width: 30%;
}

.modal-header{
  display: flex;
  justify-content: space-between;
}

.header-border{
  margin-top: 10px;
  border-bottom: 1px solid lightgray;
}

form{
  display: flex;
  flex-direction: column;
}

.input-content{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.input-placeholder{
  padding: 3px;
  outline: none;
}

.close-button {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.submit-btn{
  margin-top: 10px;
  padding: 10px;
  background-color: blue;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.delete-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  background-color: red;
  color: #fff;
  border: none;
  cursor: pointer;
}

.export-button {
  position: absolute;
  top: 50px;
  right: 10px;
  padding: 10px;
  background-color: green;
  color: #fff;
  border: none;
  cursor: pointer;
}


/* Basic responsiveness */
@media (max-width: 768px) {
  .Sidebar {
    width: 150px;
  }

  .modal-content {
    width: 50%;
  }

  .Canvas {
    height: 100vh;
  }

  .canvas-element {
    padding: 5px;
  }
}

@media (max-width: 480px) {
  .Sidebar {
    display: 100px; 
  }

  .App {
    display: flex;
  }

  .Canvas {
    width: 100%;
  }

  .delete-button {
    position: fixed;
    top: 1;
    right: 0;
    width: 50px;
  }

  .export-button {
    position: fixed;
    right: 0;
    top: 1;
    width: 50px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .modal-content {
    width: 50%; 
  }
}
